<h1><%= @cocktail.name %></h1>

<ul>
  <li>Name: <%= @cocktail.name %></li>
  <li>Doses:
    <% @cocktail.doses.each do |dose| %>
      <%= dose.description %>
      <%= dose.ingredient.name %>
    <% end %>
  </li>
</ul>

<%= link_to "Add a Dose", new_cocktail_dose_path(@cocktail) %>
